/* Basuc elements Set up */
body {
    margin: 0px;
    padding: 0px;
    border: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    justify-items: start;
}

h1 {
    font-size: 1rem;
}

h2 {
    font-size: 0.9rem;
}

h3 {
    font-size: 0.7rem;
}

p {
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.header li {
    display: inline;
}

.annoucements p {
    font-size: 0.6rem;
}

/*Lateral bar grid and style*/
.lateralMenuBar {
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: aqua;
    display: grid;
    font-family: "Roboto", 'Courier New', Courier, monospace;
    color: white;
    font-weight: bold;
    align-content: start;
    width: 100%;
}

/* Adjusting the content, to be more
left justified*/
.lateralMenuBar ul {
    padding-left: 10px;
    padding-right: 40px;
}

/*First seven navigation buttons of the lateral menu grid*/
.navigation-buttons {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto-fill(1fr);
    grid-template-rows: repeat(7, 1fr);
    align-items: start;
    align-content: start;
    gap:8px;
    font-size: 0.7em;
}

/* Last buttons grid in the lateral menu */
.setting-buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    font-size: 0.7em;
}

/* Verical aligment of the contents in the 
lateral menu bar (icons and text)*/
.lateralMenuBar li {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Icon size in the Lateral Menu Bar*/
.lateralMenuBar img {
    height: 15px;
}

/*First icon of lateral menu bar
to adjust its size*/
.dashboard-icon {
    height: 35px;
    font-size: 0.9em;
    
}
.dashboard-icon img{
    height: 30px;
}

/*Header grid*/
.header {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 100%;
    height: 100%;
    margin-top: -12px;
}

/*Search bar style*/
#searchBar{
    width: 90%;
    border-radius: 10px;
    border-style: none;
    background-color: #e5e7eb;
}

#searchBar:focus {
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: #e5e7eb;
}

/*Sets the magnify picture a suitable size
and lower it so align with the bar
pads to ajust relative to the as well*/

label[for="searchBar"]>img{
    height: 18px;
    margin-bottom: -5px;
    padding-right: 5px;
}

/*Pads first grid to get far form the border*/
.header form{
    align-self: center;
    padding-left: 25px;
    padding-top: 12px;
}

/*Selexts the grid 1x2 and center align itens*/
.action-buttons {
    display: flex;
    align-items: center;
   }
   
/*Selects the second grid 
and formats icons*/
.bell-icon {
    height: 15px;
    margin-top: 2px;
}

.pp-picture {
    height: 30px;
    border-radius: 50%;
    padding: 12px;
}

.profile-name {
    font-size: 0.8em;
    font-weight: bolder;
}

.dashboard {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.articles {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
}

.articles>h1 {
    grid-column: 1/3;
}

.annoucements {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    border-style: solid;
}

.trending {
    grid-column: 2/3;
}